@import '../../styles/utils.scss';

a,
span {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 32px;
	border-radius: 32px;
	background: #ffffff;
	box-shadow: 2px 2px 4px rgba(31, 56, 50, 0.15);
	text-decoration: none;
	cursor: pointer;
	color: fColor(ckale);
	font-size: 18px;

	&:hover {
		text-decoration: none;
	}
}
