@import "../../styles/utils.scss";

:host {
	display: block;
	padding: 32px 0;
	background-color: white;
}

a {
	display: block;
	text-decoration: none;
	color: fColor(ckale);
}

.panel {
	display: flex;

	> div {
		flex: 1;
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}

		.reseaux {
			width: 30px;
			margin: 16px 16px 16px 0;
			display: inline-block;
		}
	}

	@media (max-width: 900px) {
		flex-wrap: wrap;

		> div {
			width: 50%;
			flex: none;
			margin-right: 0;
			margin-bottom: 16px;
		}
	}

	@media (max-width: 450px) {
		> div {
			width: 100%;
		}
	}
}

b {
	color: fColor(ckale);
}

img {
	max-height: 40px;
}

.name {
	display: flex;
	align-items: center;
	margin-bottom: 16px;

	img {
		margin-right: 8px;
	}
}

.copyright {
	margin-top: 24px;
}
