<div class="content-wrapper">
  <div class="panel">
    <div class="about">
      <a [href]="environment.site.www">
        <p class="name"><img src="/lib-assets/logo.svg" alt="logo" /></p>
      </a>
      <p>La première plateforme qui parle aux restaurateurs et les respecte.</p>
    </div>
    <div class="pages">
      <a [href]="environment.site.www+'a-propos'">À propos</a>
      <a [href]="environment.site.www+'le-concept'">Le concept</a>
      <!-- <a [href]="environment.site.www+'espace-utilisateurs'">Espace utilisateurs</a>
      <a [href]="environment.site.www+'espace-livreurs'">Espace livreurs</a> -->
      <a [href]="environment.site.restaurant">Espace restaurateurs</a>
      <!-- <a [href]="environment.site.www+'espace-presse'">Espace Press</a>  -->
      <a [href]="environment.site.www+'contact'">Nous contacter</a>
    </div>
    <div class="contact">
      <a [href]="environment.site.www+'faq'">FAQ</a>
      <a [href]="environment.site.www+'mentions-legales'">Mentions légales</a>
      <a [href]="environment.site.www+'mentions-legales'">Confidentialité</a>
      <!-- <a [href]="environment.site.www+'cookie'">Cookie</a> -->
    </div>
    <div class="social">
      <!-- <a href="" target="_blank"><img src="/lib-assets/apple-store.png" alt="Apple store" /></a>
      <a href="" target="_blank"><img src="/lib-assets/play-store.png" alt="Play store" /></a> -->
      <a href="" target="_blank" class="reseaux"><img src="/lib-assets/linkedin.png" alt="Linkedin" /></a>
      <a href="" target="_blank" class="reseaux"><img src="/lib-assets/twitter.png" alt="Twitter" /></a>
      <a href="" target="_blank" class="reseaux"><img src="/lib-assets/instagram.png" alt="Instagram" /></a>
      <a href="" target="_blank" class="reseaux"><img src="/lib-assets/facebook.png" alt="Facebook" /></a>
    </div>
  </div>
  <p class="copyright s">Copyright 2021</p>
</div>
