<div class="content-wrapper">
  <div class="panel">
    <div class="about">
      <p class="name">
        <a [href]="environment.site.www"><img src="/lib-assets/logo-vert.png" alt="logo" /></a>
        <a target="_blank" href="https://umih-idf.fr/"><img src="/lib-assets/logo-umih-idf.png"
            alt="logo umih idf" /></a>

      </p>
      <p>La plateforme <b>partenaire de UMIH IDF</b> soutenant l'art de vivre à la française.
      </p>
    </div>
    <div class="pages">
      <a [href]="environment.site.www+'a-propos'">À propos</a>
      <a [href]="environment.site.www+'le-concept'">Le concept</a>
      <!-- <a [href]="environment.site.www+'espace-utilisateurs'">Espace utilisateurs</a>
      <a [href]="environment.site.www+'espace-livreurs'">Espace livreurs</a> -->
      <a [href]="environment.site.restaurant">Espace restaurateurs</a>
      <a [href]="environment.site.restaurant+'signup'">Inscription restaurateurs</a>
      <!-- <a [href]="environment.site.www+'espace-presse'">Espace Press</a>  -->
      <a [href]="environment.site.www+'contact'">Nous contacter</a>
    </div>
    <div class="contact">
      <a [href]="environment.site.www+'faq'">FAQ</a>
      <a [href]="environment.site.www+'mentions-legales'">Mentions légales</a>
      <a [href]="environment.site.www+'confidentialite'">Confidentialité</a>
      <a [href]="environment.site.www+'blog'">Blog</a>
      <!-- <a [href]="environment.site.www+'cookie'">Cookie</a> -->
    </div>
    <div class="social">
      <a href="https://apps.apple.com/us/app/delivreetic/id1565137498" target="_blank"><img
          src="/lib-assets/apple-store.svg" alt="Apple store" /></a>
      <a href="https://play.google.com/store/apps/details?id=com.delivreetic.client" target="_blank"><img
          src="/lib-assets/google-play.svg" alt="Google Play" /></a>
      <a href="https://www.linkedin.com/in/delivreetic-france-547676207/" target="_blank" class="reseaux"><img
          src="/lib-assets/linkedin.png" alt="Linkedin" /></a>
      <a href="https://twitter.com/delivreetic" target="_blank" class="reseaux"><img src="/lib-assets/twitter.png"
          alt="Twitter" /></a><br />
      <a href="https://www.instagram.com/delivreetic/" target="_blank" class="reseaux"><img
          src="/lib-assets/instagram.png" alt="Instagram" /></a>
      <a href="https://www.facebook.com/delivreetic.france" target="_blank" class="reseaux"><img
          src="/lib-assets/facebook.png" alt="Facebook" /></a>
    </div>
  </div>
  <p class="copyright s">© 2021 Delivreetic</p>
</div>