<div class="content-wrapper">
  <div class="panel">
    <div class="about">
      <p class="name"><img src="/lib-assets/logo.svg" alt="logo" /><b>Delivreetic</b></p>
      <p>La première platforme pour les restaurateurs!</p>
    </div>
    <div class="pages">
      <a [href]="environment.site.www+'a-propos'">À propos</a>
      <a [href]="environment.site.www+'le-concept'">Le concept</a>
      <a [href]="environment.site.www+'espace-utilisateurs'">Espace utilisateurs</a>
      <a [href]="environment.site.restaurateurs">Espace restaurateurs</a>
      <a [href]="environment.site.www+'espace-press'">Espace Press</a>
    </div>
    <div class="contact">
      <a [href]="environment.site.www+'contact'">Nous contacter</a>
      <a [href]="environment.site.www+'faq'">FAQ</a>
      <a [href]="environment.site.www+'mentions-legales'">Mentions légales</a>
      <a [href]="environment.site.www+'condidentialite'">Confidentialité</a>
      <a [href]="environment.site.www+'cookie'">Cookie</a>
    </div>
    <div class="social">
      <a href=""><img src="/lib-assets/apple-store.png" alt="Apple store" /></a>
      <a href=""><img src="/lib-assets/play-store.png" alt="Play store" /></a>
    </div>
  </div>
</div>
