<wrapper-connected title="Mon compte">

  <mat-card>
    <form [formGroup]="formMail">
      <h2>Modifier son mail</h2>
      <p>{{user.email}}</p>
      <mat-form-field>
        <mat-label>Nouvel email</mat-label>
        <input matInput placeholder="nouvel email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Mot de passe" type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSubmitEmail()">Modifier l'email</button>
    </form>
  </mat-card>

  <mat-card>
    <form [formGroup]="formPassword">
      <h2>Modifier son mot de passe</h2>

      <mat-form-field>
        <mat-label>Ancien mot de passe</mat-label>
        <input matInput placeholder="Ancien mot de passe" type="password" formControlName="password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput placeholder="nouveau mot de passe" type="password" formControlName="newPassword">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirmation mot de passe</mat-label>
        <input matInput placeholder="confirmation mot de passe" type="password" formControlName="confirmNewPassword">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSubmitPassword()">Modifier le mot de passe</button>
    </form>
  </mat-card>



</wrapper-connected>
