<div class="merchant-preview">
  <div class="image" [ngStyle]="
      restaurant.photo
        ? { 'background-image': 'url(' + restaurant.photo + ')' }
        : {}
    ">
  </div>
  <div>
    <div class="quick-preview">
      <div class="logo" [ngStyle]="
      restaurant.logo
        ? { 'background-image': 'url(' + restaurant.logo + ')' }
        : {}
    "></div>
      <div class="evaluation" *ngIf="restaurant.average_evaluation">
        <img src="/lib-assets/yellow-star-outline.svg" />
        <p>{{ restaurant.average_evaluation }}/5</p>
      </div>
    </div>
    <div class="description">
      <p>{{ type }}</p>
      <p>{{convertPriceToDollars(restaurant.average_pricing)}}</p>
      <p *ngIf="restaurant.distance">{{getStringDistance(restaurant.distance)}}</p>
      <p *ngIf="restaurant.cashback" class="cashback">
        <i class="material-icons">euro</i>cashback {{ cashbackString }}
      </p>
    </div>
  </div>
</div>
<div class="title">
  <div class="name">{{ restaurant.name }}</div>
</div>