<div class="image" [ngStyle]="{'background-image': 'url('+restaurant.photo+')'}"></div>
<div class="title">
  <div class="name">{{restaurant.name}}</div>
  <div class="note" *ngIf="restaurant.average_evaluation"><img src="/lib-assets/green-star.svg" />
    {{restaurant.average_evaluation}}</div>
</div>
<div class="sub-name"><span>{{(restaurant.type || '').split(',').join(', ')}}</span> -
  {{convertPriceToDollars(restaurant.average_pricing)}}
</div>
<div class="eat-options">
  <i class="material-icons" *ngIf="restaurant.delivery">directions_bike</i>
  <i class="material-icons" *ngIf="restaurant.take_away">local_mall</i>
  <i class="material-icons" *ngIf="restaurant.eat_in">local_dining</i>
</div>