@import "../../styles/utils.scss";

:host {
  padding: 6px;
  border-top-left-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
	font-weight: 300;

  .merchant-preview {
		display: flex;

		> div {
			flex: 1;
		}

    .image {
      background-size: cover;
      background-position: center;
      border-top-left-radius: 20px;
			min-height: 140px;
			margin-right: 8px;
    }

		.quick-preview {
			display: flex;

			.logo {
				flex: 1;
				height: 76px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}

			.evaluation {
				flex: 1;
				text-align: center;

				img {
					margin-bottom: 12px;
					margin-top: 4px;
				}

				p {
					font-size: 10px;
				}
			}
		}

		.description {
			margin-top: 20px;

			p {
				color: fColor(cgray);
				font-size: 10px;
			}
		}
  }

  .title {
    display: flex;
    justify-content: space-between;
		padding: 9px;

		.name {
			font-size: 18px;
			color: fColor(cgreen);
		}
  }
}