<form [formGroup]="form">
  <mat-card>
    <h2>Changement de mot de passe</h2>
    <mat-form-field>
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput placeholder="Mot de passe" type="password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmation de mot de passe</mat-label>
      <input matInput placeholder="Mot de passe" type="password" formControlName="confirmPassword">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()">Change le mot de passe</button>
  </mat-card>

  <mat-card>
    <a routerLink="/login">Login</a>
  </mat-card>
</form>
