@font-face {
	font-family: "Poppins";
	src: url("~src/lib/styles/Poppins/Poppins-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("~src/lib/styles/Poppins/Poppins-SemiBold.ttf");
	font-weight: 500;
	font-style: normal;
}
