@import "../../styles/utils.scss";

:host {
	background-color: fColor(cfarine);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.image {
	height: 72px;
	margin-bottom: 26px;
}

p {
	color: fColor(cchataigne);
	font-weight: bold;
}
