@import "../../styles/utils.scss";

:host {
	display: block;
	height: 80px;

	.menu {
		height: 80px;
		background-color: fColor(ckale);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
	}

	.wrapper {
		display: flex;
		align-items: center;
		height: 80px;

		.logo {
			display: flex;
			align-items: center;
		}

		img {
			height: 52px;
			margin-right: 4px;
		}

		p,
		a {
			color: fColor(cfarine);
		}

		a {
			margin-left: 32px;
			font-size: 16px;
			font-weight: normal;
			text-decoration: none;
		}
	}
}
