@font-face {
	font-family: "Klavika";
	src: url("~src/lib/styles/Klavika/klavika-medium.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Klavika";
	src: url("~src/lib/styles/Klavika/klavika-bold.otf");
	font-weight: 500;
	font-style: normal;
}
