@import "../../styles/utils.scss";

a {
	display: inline-block;
	height: 42px;
	width: 48px;
	background: white;
	text-decoration: none;
	cursor: pointer;
	-webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);

	&:hover {
		text-decoration: none;
	}

	> span {
		display: flex;
		align-items: center;
		justify-content: center;
		background: fColor(cgreenlight);
		-webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		height: 36px;
		width: 42px;
		margin: 3px 0 0 3px;
	}
}
