button {
	height: 51px;
	line-height: 51px;
	border-radius: 16px;
	color: fColor(cblack);
	font-weight: 500;
	border: none;
	padding: 0 24px;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&.fill {
		&.primary {
			background-color: fColor(primary);
		}
	}

	&.outline {
		background-color: rgba(fColor(cmenthe), 0.2);
		height: 27px;
		line-height: 27px;
		border: 1px solid fColor(cmenthe);
		color: fColor(cmenthe);
		font-weight: 500;
		font-size: 14px;
		border-radius: 8px;
		padding: 0 8px;
	}
}
