mat-form-field {
	width: 100%;
}

input:focus {
	outline: none;
}

input.ethics-ui {
	padding: 8px;
	height: 40px;
	background: #ffffff;
	border: 1px solid #bcbcbc;
	box-sizing: border-box;
	border-radius: 8px;
	width: 100%;
	font-size: 16px;

	&.dark {
		border: 1px solid black;
	}
}

.label-fx {
	margin-left: 16px;
	font-size: 11px;
	font-weight: 500;
	color: black;
	opacity: 0.4;
	margin-bottom: 4px;
}

input[type=submit] {
	background-color: rgba(fColor(cmenthe), 0.2);
	height: 27px;
	border: 1px solid fColor(cmenthe);
	color: fColor(cmenthe);
	font-weight: 500;
	font-size: 14px;
	border-radius: 8px;
}
