@import "./Poppins/Poppins.scss";

html,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
	font-family: "Poppins";
	margin: 0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

p {
	font-size: 16px;

	&.s {
		font-size: 14px;
	}

	&.xs {
		font-size: 11px;
	}

	&.tag {
		font-size: 11px;
		padding: 4px;
		border-radius: 4px;
		background-color: fColor(cgraylight);
	}
}

span {
	&.tag {
		font-size: 11px;
		padding: 4px;
		border-radius: 4px;
		background-color: fColor(cgraylight);
	}
}
