@import "./Klavika/Klavika.scss";

html,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input {
	font-family: "Klavika";
	margin: 0;
}

h1 {
	font-size: 40px;
	line-height: 46px;
	color: fColor(cgreen);
}

h2 {
	font-size: 32px;
	line-height: 34px;
	color: fColor(cgreen);
}

h3 {
	font-size: 28px;
	color: fColor(cgreen);
}

h4 {
	font-size: 24px;
	color: fColor(cgreen);
}

h5 {
	font-size: 20px;
	color: fColor(cgreen);
}

h6 {
	font-size: 18px;
	color: fColor(cgreen);
}

p,
li {
	font-size: 16px;
	color: fColor(cgreen);

	&.s {
		font-size: 14px;
	}

	&.xs {
		font-size: 11px;
	}
}

p, li, span {
	&.tag {
		font-size: 11px;
		padding: 4px;
		border-radius: 4px;
		background-color: fColor(cgraylight);

		&.red {
			background-color: fColor(cred);
			color: white;
		}

		&.green {
			background-color: fColor(ckale);
			color: white;
		}
	}
}
